## intial shit that is required (Advanced Feature Methods)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use(['seaborn-dark-palette','dark_background'])
import warnings
warnings.filterwarnings(action = 'ignore')

In [2]:
data = pd.read_csv('Transformed_Housing_Data2.csv')
data.head()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,...,0,0,0,0,1,0,0,0,0,0

In [3]:
#scaling the dataset
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
Y = data['Sale_Price']
X = scaler.fit_transform(data.drop(columns = ['Sale_Price']))
X = pd.DataFrame(data = X, columns = data.drop(columns = ['Sale_Price']).columns)
X.head()

,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,-0.398724,-1.447526,-0.979905,-0.228291,-0.915389,-0.30579,-0.563993,-0.734722,-0.658697,0.544734,...,-0.087181,-0.350481,-0.482158,-0.419600,-0.479094,-0.214086,-0.287712,-0.112274,-0.16885,-0.048158
1,-0.398724,0.175684,0.533718,-0.189858,0.936817,-0.30579,-0.563993,0.460990,0.245134,0.680915,...,-0.087181,-0.350481,2.074011,-0.419600,-0.479094,-0.214086,-0.287712,-0.112274,-0.16885,-0.048158
2,-1.474115,-1.447526,-1.426369,-0.123276,-0.915389,-0.30579,-1.468566,-1.229916,-0.658697,1.293731,...,-0.087181,-0.350481,2.074011,-0.419600,-0.479094,-0.214086,-0.287712,-0.112274,-0.16885,-0.048158
3,0.676667,1.149611,-0.130534,-0.243983,-0.915389,-0.30579,-0.563993,-0.891735,1.397518,0.204281,...,-0.087181,-0.350481,-0.482158,2.383223,-0.479094,-0.214086,-0.287712,-0.112274,-0.16885,-0.048158
4,-0.398724,-0.148958,-0.435436,-0.169628,-0.915389,-0.30579,0.340581,-0.130827,-0.658697,-0.544715,...,-0.087181,-0.350481,-0.482158,-0.419600,2.087275,-0.214086,-0.287712,-0.112274,-0.16885,-0.048158

In [4]:
X = data.drop(columns = ["Sale_Price"])
Y = data['Sale_Price']

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 101)

x_train.shape, x_test.shape, y_train.shape, y_test.shape

((15126, 30), (6483, 30), (15126,), (6483,))

In [6]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression(normalize = True)
lr.fit(x_train, y_train)

LinearRegression(normalize=True)

In [7]:
predictions = lr.predict(x_test)

In [8]:
lr.score(x_test, y_test)

0.846235554246878

# Advanced Feature Methods

### Adjusted R^2 :

In [14]:
def adj_r2( data_x, data_y, predictions):
  '''
  data_x : independent variables
  data_y : target variable
  predictions : prediction of the model to be evaluated

  Returns: Adjusted R2
  '''

  from sklearn.metrics import r2_score
  R = r2_score(data_y, predictions)
  m = len(data_x.columns)
  n = len(data_y)
  adj_R = 1 - ((1-R)*(n-1))/(n-m-1)
  return adj_R

In [15]:
adj_r2(x_test, y_test, predictions)

0.8455205924718325

In [19]:
#another way to do this

def adj_r2( m ,data_y, predictions):
  '''
  m : number of independent variables
  data_y : target variable
  predictions : prediction of the model to be evaluated

  Returns: Adjusted R2
  '''

  from sklearn.metrics import r2_score
  R = r2_score(data_y, predictions)
  n = len(data_y)
  adj_R = 1 - ((1-R)*(n-1))/(n-m-1)
  return adj_R

### Forward Selection Method:

In [20]:
def return_r2(X, Y, model):
  '''
  X : independent variables
  Y : target variable
  model : predictive model

  Returns: Adjusted R2 corresponding to the model
  '''
  model.fit(X, Y)
  pred = model.predict(X)
  m = len(X.columns)
  r2 = adj_r2(m, Y, pred)
  return r2

In [21]:
def forward_selection(model, X, Y, max_features):
  '''
  X : independent variables
  Y : target variable
  model : predictive model
  max_features : selects best feature upto max_features value

  Returns: 
  Rmax : Adjusted R2 of the final model
  history : list of Rmax at every new independent variable added to the model
  x[f_col] : best features upto max_features
  '''
  
  f_col = [] 
  history = []
  
  for i in range(max_features):
    # initialisation (like putting values as this for start)
    f_col.append('blank')
    tmp = f_col[:]
    Rmax = -1

    for var in X.columns:
      tmp[-1] = var
      r2 = return_r2( X[tmp] , Y, model)
      if r2 >= Rmax:
        Rmax = r2
        f_col[-1] = var
        elim = var
  
    print("Selected",f_col[-1],"with new r2 =",Rmax)
    history.append(Rmax)

  return Rmax, history, X[f_col]

In [22]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression(normalize = True)

score, history, sel_data = forward_selection(lr, x_train, y_train, 5)

Selected Flat Area (in Sqft) with new r2 = 0.4825106645259518
Selected Latitude with new r2 = 0.6158682713046582
Selected Overall Grade with new r2 = 0.6693250844517911
Selected Age of House (in Years) with new r2 = 0.7101671809322652
Selected Zipcode_Group_Zipcode_Group_8 with new r2 = 0.7359659801896961

In [23]:
sel_data.columns

Index(['Flat Area (in Sqft)', 'Latitude', 'Overall Grade',
       'Age of House (in Years)', 'Zipcode_Group_Zipcode_Group_8'],
      dtype='object')

In [24]:
history

[0.4825106645259518,
 0.6158682713046582,
 0.6693250844517911,
 0.7101671809322652,
 0.7359659801896961]

In [25]:
score

0.7359659801896961

### Backward Elimination: